{% extends 'base.html.twig' %} {% block title %}Register{% endblock %} {% block
body %} {% for flashError in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}

<h2 class="title-reg">S'inscrire</h2>

<main class="container-fluid p-5">
  {% for flashError in app.flashes('verify_email_error') %}
  <div class="alert alert-danger" role="alert">{{ flashError }}</div>
  {% endfor %}

  <div class="col-4 offset-4">
    <h2 class="text-center">Inscription</h2>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}
    <div class="text-right">
      {{ form_row(registrationForm.valider) }}
    </div>
    {{ form_end(registrationForm) }}

    <div class="dropdown-divider my-3"></div>
  </div>
</main>
{% endblock %}
